@page "/addjacket"

@using BlazorDB.Shared.Models
@inject HttpClient client
@inject NavigationManager NavManager

<link rel="stylesheet" href="css/AddPro.css">
<link href="/validation.css" rel="stylesheet" />

<h1 class="bg-info text-white">Create Jacket</h1>

<EditForm Model="@j" OnValidSubmit="CreateJackettt">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Catagory</label>
        <InputText class="form-control" placeholder="Catagory" @bind-Value="j.Catagory" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <InputNumber class="form-control" placeholder="Price" @bind-Value="j.Price" />
    </div>
    <div class="form-group">
        <label>Inventory</label>
        <InputNumber class="form-control" placeholder="Inventory" @bind-Value="j.Inventory" />
    </div>
    <div class="form-group">
        <label>Size</label>
        <InputText class="form-control" placeholder="Size" @bind-Value="j.Size" />
    </div>
    <div class="form-group">
        <label>Material</label>
        <InputText class="form-control" placeholder="Material" @bind-Value="j.Material" />
    </div>
    <div class="form-group">
        <label>ImgURL</label>
        <InputText class="form-control" placeholder="ImgURL" @bind-Value="j.ImgURL" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Jacket</button>
    </div>
</EditForm>







@code
{
    Product j = new Product();
    async Task CreateJackettt()
    {
        var Url = @"https://blazordb.herokuapp.com/api/Product/AddNewProductToDB";
        await client.PostAsJsonAsync(Url,j);
        NavManager.NavigateTo("/jacket");
    }
}

